
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/angular.js"></script>
    <script>
        var app = angular.module("myApp",[])
    </script>
</head>
<body>
    <h2>{{2+2}}</h2>
    <div> 
    </div>
</body>
</html>
