<!DOCTYPE html>
<html class="app-ui" lang="tr">

<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>@ViewBag.Title - Wissen Akademie ASP.NET MVC</title>

    <meta name="description" content="ASP.NET MVC ile template giydirme eğitimi" />
    <meta name="author" content="kubilay" />
    <meta name="robots" content="noindex, nofollow" />

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
